<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/screen.css">
	<script type="text/javascript">var onDomReady = [], onDomLoad = [];</script>
</head>

<body>

	{{{body}}}


	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/build/app.min.js"></script>


	{{#if isDevelopment}}
		<script type="text/javascript" src="//{{req.host}}:9000/livereload.js"></script>
	{{/if}}

</body>
</html>
